@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}

@section banner{
    <h1> Exercises Home</h1>
}

<blockquote>This is the home page for the <strong>Exercises</strong> </blockquote>

@section footer{
    <p>Gurtej Punnia</p>
    <p>gurtej.punnia@gmail.com</p>
    }